img{
    position: absolute;
    top: 0px;
    z-index: -1;
}
.box{
    position: relative;
    width: 40%;
}
.one{
    border: 2px solid #f00;
    position: relative;
    height: 200px;
    width: 45%;
    z-index: -1;
}
.two{
    position: absolute;
    background-color: #f0f;
    right: 0px;
    top: 50px;
    height: 100px;
    z-index: 2;
    width: 50%;
}
.three{
    position: absolute;
    background-color: #ff0;
    left: 30px;
    bottom: 70px;
    height: 100px;
    width: 50%;
    z-index: 1;
}